a, a:hover{
    text-decoration: none;
    color: black;
}
body{
    background-color: #f8f9fa!important;
    font-family: 'Roboto Slab', serif;
    
}
.shrink{
    background-color: #212529;
}

.header{
    background: url('/img/header-bg.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    &-text{
        padding: 300px 0;
        div:nth-child(1){
            font-size: 40px;
            font-style: italic;
            line-height: 40px;
        }
        div:nth-child(2){
            font-size: 75px;
            font-weight: 700;
            line-height: 75px;
        }
        button{
            padding: 20px 40px;
            font-size: 18px;
            font-weight: 800;
        }
    }
}

.services{
    &-cart{
        span{
            position: relative;
            font-size: 20px;
        }
        p{
            line-height: 1.75;
            font-weight: 600;
        }
    }
}
.portfolio{
    &-link{
        .bg{
            z-index: -1;
            transition: all 0.5s;
            &::before{
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                content: "\f067";
                font-size: 150px;
            }
        }
        &:hover .bg{
            background-color: rgba(254,209,54,.7);
            z-index: 2;
        }
    }
}
.l-panel{
    order: 1;
    text-align: right;
}
.r-panel{
    order: 3;
}
.c-panel{
    order: 2;
}


.about{
    ul{
        &::before{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 50%;
            width: 2px;
            content: '';
            background-color: #e9ecef;
            z-index: -1;
        }
        .l-panel, .r-panel, .im{
            flex: 1;
        }
    }
}
@media (max-width: 767.98px) { 
    .clean-div{
        display: none;
    }
    .r-panel{
        order: 2;
    }
    .c-panel{
        order: 1;
    }
    .l-panel{
        text-align: left;
    }
    .about ul::before{
        left: 26%;
    }
 }
 @media (max-width: 575.98px) { 
    .about ul::before{
        left: 14%;
    }
    .about ul li .im {
        flex: none;
        img{
            width: 100px;
        }
    }
  }
