a, a:hover{
    text-decoration: none;
    color: black;
}
body{
    background-color: #f8f9fa!important
}
.shrink{
    background-color: #212529;
}
.header{
    background: url('/img/header-bg.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    &-text{
        padding: 300px 0;
        div:nth-child(1){
            font-size: 40px;
            font-style: italic;
            line-height: 40px;
        }
        div:nth-child(2){
            font-size: 75px;
            font-weight: 700;
            line-height: 75px;
        }
        button{
            padding: 20px 40px;
            font-size: 18px;
            font-weight: 800;
        }
    }
}

.services{
    &-cart{
        span{
            position: relative;
            font-size: 40px;
        }
        p{
            line-height: 1.75;
            font-weight: 600;
        }
    }
}
.portfolio{
    &-link{
        .bg{
            z-index: -1;
            transition: all 0.5s;
            &::before{
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                content: "\f067";
                font-size: 150px;
            }
        }
        &:hover .bg{
            background-color: rgba(254,209,54,.7);
            z-index: 2;
        }
    }
}